.main, .display, .table, table{
    text-align: center;
    margin: auto;
    width: 50%;
    /* border: 1px solid green; */

}
.main, table{
    padding: 50px;

}
/* td {
    border: 1px solid black;
    border-radius: 5px;
} */